<h1>Lista de Clientes</h1>
<hr>

<table>
    <thead>
        <th>Código</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Email</th>
        <th>Senha</th>
    </thead>
{{#each valores}}
    <tbody>
        <tr>
            <td>{{this.id}}</td>
            <td>{{this.nome}}</td>
            <td>{{this.idade}}</td>
            <td>{{this.email}}</td>
            <td>{{this.senha}}</td>
        </tr>
    </tbody>
{{/each}}
</table>
<hr>